# =====================
# Node
# =====================
node_modules/
**/node_modules/

# =====================
# Python
# =====================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# =====================
# Database
# =====================
*.db

# =====================
# Build
# =====================
dist/
build/

# =====================
# Editor / OS
# =====================
.vscode/
.DS_Store

# Uploaded files
backend/app/uploads/
